# dependencies
node_modules/

# Next.js
.next/
out/

# environment
.env
.env.local
.env.*.local

# database
*.db

# debug
npm-debug.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts

# OS
.DS_Store
Thumbs.db
